/* DIV formatting */
#container{background:pink; padding:20px; margin:0 auto; border:1px solid pink; width:900px;}
#header{background-color:coral; color:White; padding:10px; margin:0 auto; border 1px solid black; height:100px;}
#menu{background:orange; color:White; padding:10px; margin:0 auto; border-left: 1px solid black; border-right: 1px solid black;}
#main {background:white; padding 10px; margin:0 auto; border-left: 1px solid black; border-right: 1px solid black;}
#footer {background:grey; color:Black; padding:10px; margin:0 auto; border:1px solid black;text-align:center}

p1{font-family:Segoe UI; font-size:medium;}

.hdr_img {float:right; margin:0; padding:0; border:0; }
h1{font-size:50px}

.level1 {color: white; font-size:large; font-weight: bold;font-family:Segoe UI Symbol; text-decoration:overline;}

.level2{color: White; background-color: navy; font-family:Segoe UI Semibold; font-size: medium;}

.loginstatus{float:right; font-family:Segoe UI Light}